.privacy-policy-container {
  padding: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.privacy-policy-container h1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
}

.privacy-policy-container h2 {
  font-size: 27px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 24px;
  color: #000;
}

.privacy-policy-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}


.back-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: 40px; 
  margin-top: 40px;
}

.back-arrow:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}


@media (max-width: 1024px) {
  .privacy-policy-container {
    padding: 40px;
  }

  .privacy-policy-container h1 {
    font-size: 47px;
  }
}

@media (max-width: 480px) {
  .privacy-policy-container {
    padding: 20px;
  }

  .privacy-policy-container h1 {
    font-size: 36px;
  }
}
