


.logo-top-left {
    position: fixed;
    top: 37px;
    left: 37px;
    width: 100px;
    z-index: 50;
}


.signup-header {
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.signup-header h1 {
    margin: 0;
    text-align: center;
}


.signup-header a {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
    display: flex; 
}


.back-arrow-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.1s;
}

.back-arrow-icon:hover {
    transform: scale(1.1);
}



#name {
    background-image: url('../assets/login-screen/person.svg');
    background-repeat: no-repeat;
    background-position: right 21px center;
}

#email {
    background-image: url('../assets/login-screen/mail.svg');
    
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    background-image: none !important; 
    padding-right: 50px; 
}

.input-icon {
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}



.privacy-policy-check {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 12px; 
    margin-top: 15px;
    font-size: 16px;
    color: #A8A8A8;
    white-space: nowrap; 
}

.privacy-policy-check a {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 700;
    margin-left: 4px;
}

.privacy-policy-check a:hover {
    text-decoration: underline;
}


.privacy-policy-check input[type="checkbox"] {
    width: 16px;  
    height: 16px; 
    cursor: pointer;
    accent-color: var(--dark-blue); 
    margin: 0;
}


.center-button {
    display: flex;
    justify-content: center; 
    margin-top: 25px; 
}

.btn-small {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    flex: unset; 
    width: auto;
}

button:disabled {
    background-color: #A8A8A8;
    cursor: not-allowed;
    filter: none;
}

.error-text {
    color: #FF8190;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}